
.icon-glass:before { content: '\e800'; } /* '' */
.icon-cloud:before { content: '\e801'; } /* '' */
.icon-rocket:before { content: '\e802'; } /* '' */
.icon-cinema:before { content: '\e80f'; } /* '' */
.icon-swimming:before { content: '\e838'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-behance:before { content: '\f1b4'; } /* '' */
.icon-rebel:before { content: '\f1d0'; } /* '' */
.icon-github:before { content: '\f308'; } /* '' */